html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset End ------------------------------------------------------------------ */

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    
    font-family: 'Roboto', sans-serif;
}

.left-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: stretch;
    background-image: url(abstract-medium.jpg);
    background-position: center;
}





.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-self: center;
    flex: 1;
    background-color: rgba(0, 0, 0, .7);
    font-size: 45px;
    color: #FEFEFE;
    padding: 15px;
    margin-bottom: 67%;
    text-align: center;
    gap: 16px;
}

#logo {
    height: 150px;
    width: 150px;
    align-self: center;
}

.logo-text {
    letter-spacing: .3em;
    font-weight: 200;
}

.right-content {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: rgba(6, 5, 4, 0.966);
}


.intro-text {
    color: white;
    font-size: 2vw;
    padding: 50px;
    font-weight: 200;
    text-align: center;
}

strong {
    font-weight: 300;
}

fieldset {
    color: #FEFEFE;
}

.form-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 3vw;
    font-size: 30px;
    margin-bottom: 2vw;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 1vh;
    font-weight: 600;
    
}

input {
    width: 300px;
    height: 30px;
    border: 2px solid black;
    border-radius: 8px;
    padding: .5rem;
    font-size: 18px;
    font-weight: 600;
    color: #ff05c0;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 50px;
}



button {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #fd00be;
    color: #ffffff;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #fd00be;
}

button:focus {
    outline: 1px solid rgb(0, 0, 0);
    outline-offset: -4px;
}

button:active {
    transform: scale(0.95);
}

#pink {
    color:#fd00be;
    font-weight: 300;
    font-size: 2.5vw;
}

#pass-requirement {
    max-width: fit-content;
    font-weight: 400;
    font-style: italic;
}

/*rgb(252,132,117)
background-color: rgba(255, 255, 255, .2);
border: 2px #FB24C7 solid;
    border-radius: 8px;
*/